<div class="row-fluid">
	<div id="webcamsb">
		<table id="wcsb_t">
			<tr><td id="wcsb_imc" data-bind="click: wcsbPOC"><img id="sidewebcam"></td></tr>
			<tr><td id="wcsb_bot"></td></tr>
		</table>
	</div>
</div>