<form>
		<p>
			<label class="control-label">(Leave this stream blank to use default webcam stream)</label>
			<div class="controls">
				<input type="text" class="input-block-level wcsb_n" data-bind="value: settings.plugins.webcamSB.name">
				<input type="text" class="input-block-level wcsb_u" data-bind="value: settings.plugins.webcamSB.url">
				<div class="wcsb_moreS">
					<div>Flip Horizontally</br>
						<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.f1x"/>
							<option value="0">NO</option>
							<option value="1">YES</option>
						</select>
					</div>
					<div>Flip Vertically</br>
						<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.f1z"/>
							<option value="0">NO</option>
							<option value="1">YES</option>
						</select>
					</div>
					<div>Rotate</br>
						<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.rot1"/>
							<option value="-90">-90</option>
							<option value="0">0</option>
							<option value="90">90</option>
						</select>
					</div>
					<div>Aspect</br>
						<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.asp1"/>
							<option value="1">16:9</option>
							<option value="2">4:3</option>
						</select>
					</div>
				</div>
			</div>
			<div class="controls">
				<input type="text" class="input-block-level wcsb_n" data-bind="value: settings.plugins.webcamSB.name1">
				<input type="text" class="input-block-level wcsb_u" data-bind="value: settings.plugins.webcamSB.url1">
				<div class="wcsb_moreS">
					<div>Flip Horizontally</br>
						<select class="wbsc_s" data-bind="settings.plugins.webcamSB.f2x"/>
							<option value="0">NO</option>
							<option value="1">YES</option>
						</select>
					</div>
					<div>Flip Vertically</br>
						<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.f2z"/>
							<option value="0">NO</option>
							<option value="1">YES</option>
						</select>
					</div>
					<div>Rotate</br>
						<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.rot2"/>
							<option value="-90">-90</option>
							<option value="0">0</option>
							<option value="90">90</option>
						</select>
					</div>
					<div>Aspect</br>
						<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.asp2"/>
							<option value="1">16:9</option>
							<option value="2">4:3</option>
						</select>
					</div>
				</div>
			</div>
			<div class="controls">
				<input type="text" class="input-block-level wcsb_n" data-bind="value: settings.plugins.webcamSB.name2">
				<input type="text" class="input-block-level wcsb_u" data-bind="value: settings.plugins.webcamSB.url2">
			</div>
			<div class="controls">
				<input type="text" class="input-block-level wcsb_n" data-bind="value: settings.plugins.webcamSB.name3">
				<input type="text" class="input-block-level wcsb_u" data-bind="value: settings.plugins.webcamSB.url3">
			</div>
		</p>
		<div class="wcsb_moreS">
			<div>Allow to expand on click</br>
				<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.expand">
					<option value="1">YES</option>
					<option value="0">NO</option>
				</select>
			</div>
			<div>Default Stream</br>
				<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.defaultCam">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
			</div>
			<!--div>Selector</br>
				<select class="wbsc_s" data-bind="value: settings.plugins.webcamSB.selector">
					<option value="1">Buttons</option>
					<option value="0">List</option>
				</select>
			</div-->			
		</div>
		Please "SAVE" and refresh your browser with CTRL+F5 after changing your settings.
</form>
